﻿div#loader {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
}

    div#loader > .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        font-size: 45px;
    }

.jtable {
    font-size: 18px;
}

.modal .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    z-index: 99999;
}

    .modal .overlay > .fa,
    .overlay-wrapper .overlay > .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
        font-size: 30px;
    }

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

div.jtable-main-container > table.jtable > thead th.jtable-column-header div.jtable-column-header-container {
    height: auto;
    text-align: center;
    padding-right: 15px;
}

.jtable-goto-page select, .jtable-page-size-change select {
    color: black;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, .6);
}

.form-control-feedback {
    top: 0;
    right: 15px;
}

.form-horizontal .has-feedback .form-control-feedback {
    top: 25px;
}


.modal.modal-full {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

    .modal.modal-full .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        min-height: 100%;
        height: 100%;
        padding: 0;
    }

    .modal.modal-full .modal-content {
        min-height: 100%;
    }

    .modal.modal-full .modal-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

.required {
    position: absolute;
    margin-left: -10px;
    color: #FB0000;
    font-size: 15px;
}

.bg-white {
    background: white !important;
}

.form-control[disabled], fieldset[disabled] .form-control {
    background-color: #efefef !important;
    opacity: 1;
    cursor: text;
    -webkit-user-select: all; /* Chrome 49+ */
    -moz-user-select: all; /* Firefox 43+ */
    -ms-user-select: all; /* No support yet */
    user-select: all; /* Likely future */
}

.form-control[readonly] {
    background-color: white;
    opacity: 1;
}

    .form-control[readonly].disabled {
        background-color: #efefef !important;
        opacity: 1;
    }

    .form-control[readonly].input-warning {
        background: #FFF176 !important;
    }

    .form-control[readonly].input-outdate {
        background: #dd4b39 !important;
        color: #efefef;
    }

    .form-control[readonly].input-finish {
        background: #00a65a !important;
        color: #efefef;
    }

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.row-horizon {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

    .row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
        float: none;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }

    .row-horizon > .col-xs-12 {
        width: 90%;
    }

    .row-horizon > .col-xs-11 {
        width: 82.5%;
    }

    .row-horizon > .col-xs-10 {
        width: 75%;
    }

    .row-horizon > .col-xs-9 {
        width: 67.5%;
    }

    .row-horizon > .col-xs-8 {
        width: 60%;
    }

    .row-horizon > .col-xs-7 {
        width: 52.5%;
    }

    .row-horizon > .col-xs-6 {
        width: 45%;
    }

    .row-horizon > .col-xs-5 {
        width: 37.5%;
    }

    .row-horizon > .col-xs-4 {
        width: 30%;
    }

    .row-horizon > .col-xs-3 {
        width: 22.5%;
    }

    .row-horizon > .col-xs-2 {
        width: 15%;
    }

    .row-horizon > .col-xs-1 {
        width: 7.5%;
    }

@media (min-width: 768px) {
    .row-horizon > .col-sm-12 {
        width: 90%;
    }

    .row-horizon > .col-sm-11 {
        width: 82.5%;
    }

    .row-horizon > .col-sm-10 {
        width: 75%;
    }

    .row-horizon > .col-sm-9 {
        width: 67.5%;
    }

    .row-horizon > .col-sm-8 {
        width: 60%;
    }

    .row-horizon > .col-sm-7 {
        width: 52.5%;
    }

    .row-horizon > .col-sm-6 {
        width: 45%;
    }

    .row-horizon > .col-sm-5 {
        width: 37.5%;
    }

    .row-horizon > .col-sm-4 {
        width: 30%;
    }

    .row-horizon > .col-sm-3 {
        width: 22.5%;
    }

    .row-horizon > .col-sm-2 {
        width: 15%;
    }

    .row-horizon > .col-sm-1 {
        width: 7.5%;
    }
}

@media (min-width: 992px) {
    .row-horizon > .col-md-12 {
        width: 90%;
    }

    .row-horizon > .col-md-11 {
        width: 82.5%;
    }

    .row-horizon > .col-md-10 {
        width: 75%;
    }

    .row-horizon > .col-md-9 {
        width: 67.5%;
    }

    .row-horizon > .col-md-8 {
        width: 60%;
    }

    .row-horizon > .col-md-7 {
        width: 52.5%;
    }

    .row-horizon > .col-md-6 {
        width: 45%;
    }

    .row-horizon > .col-md-5 {
        width: 37.5%;
    }

    .row-horizon > .col-md-4 {
        width: 30%;
    }

    .row-horizon > .col-md-3 {
        width: 22.5%;
    }

    .row-horizon > .col-md-2 {
        width: 15%;
    }

    .row-horizon > .col-md-1 {
        width: 7.5%;
    }
}

@media (min-width: 1200px) {
    .row-horizon > .col-lg-12 {
        width: 90%;
    }

    .row-horizon > .col-lg-11 {
        width: 82.5%;
    }

    .row-horizon > .col-lg-10 {
        width: 75%;
    }

    .row-horizon > .col-lg-9 {
        width: 67.5%;
    }

    .row-horizon > .col-lg-8 {
        width: 60%;
    }

    .row-horizon > .col-lg-7 {
        width: 52.5%;
    }

    .row-horizon > .col-lg-6 {
        width: 45%;
    }

    .row-horizon > .col-lg-5 {
        width: 37.5%;
    }

    .row-horizon > .col-lg-4 {
        width: 30%;
    }

    .row-horizon > .col-lg-3 {
        width: 22.5%;
    }

    .row-horizon > .col-lg-2 {
        width: 15%;
    }

    .row-horizon > .col-lg-1 {
        width: 7.5%;
    }
}

.modal-open .modal.modal-allow-overflow {
    overflow: visible;
}
