﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] - BUDGET System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/lib/AdminLTE/dist/css/skins/_all-skins.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/app.cits.css?v=@Guid.NewGuid()" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/lib/html5shiv/dist/html5shiv.min.js"></script>
        <script src="~/lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div id="loader" class="text-aqua" style="display:none;"><i class="fa fa-refresh fa-spin"></i></div>
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>BG</b>S</span>
                <span class="logo-lg"><b>BUDGET</b> System</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu hidden">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu hidden">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu hidden">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu hidden">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/dist/img/peple 160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.FindFirst("DISPLAY_NAME").Value</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/dist/img/peple 160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @User.FindFirst("DISPLAY_NAME").Value
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body hidden">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Setting</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Account/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MAIN MENU</li>
                    <li><a href="~/Home/Index"><i class="fa fa-home"></i> <span>Home</span></a></li>
                    <li class="active treeview" id="menuDevelopment">
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span>Company</span>
                            <span class="fa fa-angle-left pull-right">
                                <span class="label label-primary pull-right subCount"></span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/Home/Site"><i class="fa fa-circle-o"></i> <span>Site</span></a></li>
                            <li><a href="~/Home/Role"><i class="fa fa-circle-o"></i> <span>Role</span></a></li>
                            <li><a href="~/Home/Corp"><i class="fa fa-circle-o"></i> <span>Corp</span></a></li>
                            <li><a href="~/Home/Dept"><i class="fa fa-circle-o"></i> <span>Dept</span></a></li>
                            <li><a href="~/Home/Sect"><i class="fa fa-circle-o"></i> <span>Sect</span></a></li>
                            <li><a href="~/Home/Budget_Chart"><i class="fa fa-circle-o"></i> <span>Budget Chart</span></a></li>
                            <li><a href="~/Home/Proj"><i class="fa fa-circle-o"></i> <span>Project</span></a></li>
                            <li><a href="~/Home/Job"><i class="fa fa-circle-o"></i> <span>Job</span></a></li>
                            <li><a href="~/Home/Period"><i class="fa fa-circle-o"></i> <span>Period</span></a></li>
                            <li><a href="~/Home/CorpUser"><i class="fa  fa-users"></i> <span>Corp User</span></a></li>
                        </ul>

                    </li>
                    <li><a href="~/Home/Activity" tabindex="-1"><i class="fa fa-file text-blue"></i> <span>Activity</span></a></li>
                    <li><a href="~/Home/Activity_Item" tabindex="-1"><i class="fa fa-file-text text-olive"></i> <span>Activity (Item)</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div style="display:none;" id="USER_DATA">
                <input class="hidden" name="USER_ID" value="@User.FindFirst("USER_ID").Value" />
                <input class="hidden" name="ROLE_ID" value="@User.FindFirst("ROLE_ID").Value" />
            </div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewData["Title"]
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/home/index"><i class="fa fa-dashboard"></i>Index</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            </section>
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.7.6
            </div>
            <strong>Copyright &copy; 2017 <a href="#">CIT Solution</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <div class="modal fade" tabindex="-1" id="tempModal" role="dialog">
        <form class="form-horizontal" id="tempForm">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <div class="pull-right">
                            <button tabindex="-1" type="reset" value="close" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ค้นหา :</label>
                            <div class="col-sm-6">
                                <input name="SEARCH" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-fat btn-primary"><i class="fa fa-search"> ค้นหา</i></button>
                            </div>
                        </div>
                        <div id="tempListTableContainer">
                        </div>
                    </div>
                    <div class="modal-footer" style="position:relative;">
                        <button tabindex="-1" type="reset" value="close" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="overlay" style="display:none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <environment names="Development">
        @*<link href="~/lib/jtable/lib/themes/metro/jtable_metro_base.min.css" />
            <link href="~/lib/jtable/lib/themes/metro/blue/jtable.min.css"/>
            <script src="~/lib/jtable/lib/jquery.jtable.min.js"></script>*@
        <script src="~/js/site.min.js"></script>
        <script src="~/scripts/mashiro.js?v=@Guid.NewGuid()"></script>
        <script src="~/scripts/app.cits.js?v=@Guid.NewGuid()"></script>
    </environment>
    <environment names="Demo,Production">
        <script src="~/js/site.min.js"></script>
        <script src="~/scripts/mashiro.js?v=@Guid.NewGuid()"></script>
        <script src="~/scripts/app.cits.js?v=@Guid.NewGuid()"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
