﻿<div class="modal fade" id="modal-packing" tabindex="-1" role="dialog">
    <form class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Packing List</h4>
                    <div class="pull-right">
                        <button tabindex="-1" type="reset" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <section class="col-sm-12">
                            <input type="text" class="hidden" name="INVOICE_ID" />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-flat btn-block btn-primary" name="EQUAL">Packing List Items equal Sales Invoice Items (1:1)</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-flat btn-block btn-success" name="SEPARATED">Packing List is separated</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="~/scripts/home/Modal/PackingList.js?v=@Guid.NewGuid()"></script>
<script>
    (function () {
        packing.init();
    })()
</script>