﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | WORKFLOW SYSTEM</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/lib/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/app.cits.css?v=@Guid.NewGuid()" />
    <!-- iCheck -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/lib/html5shiv/dist/html5shiv.min.js"></script>
    <script src="~/lib/respond/dest/respond.min.js""></script>
        <![endif]-->
</head>
<body class="hold-transition login-page">
    <div id="loader" class="text-info" style="display:none;"><i class="fa fa-refresh fa-spin"></i></div>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>WORKFLOW</b>System</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">ลงทะเบียนเข้าใช้ระบบ</p>
            <form method="post" id="loginForm">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="USER_NAME" placeholder="ชื่อผู้ใช้งาน">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="USER_PASSWORD" placeholder="รหัสผ่าน">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">เข้าสู่ระบบ</button>
                    </div><!-- /.col -->
                </div>
            </form>
            <br />
            <a href="#" data-toggle="modal" data-target="#modal-register">ลงทะเบียน</a> |
            <a href="#" data-toggle="modal" data-target="#modal-forget-password">ลืมรหัสผ่าน</a><br>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <form class="form-horizontal" id="registerForm" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">ลูกค้า - ลงทะเบียน</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ชื่อผู้ใช้งาน/User Name</label>
                            <div class="col-sm-8">
                                <input name="USER_EMAIL" type="email" placeholder="user@domain.com" maxlength="70" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ชื่อ / นามสกุล</label>
                            <div class="col-sm-4">
                                <input name="FIRST_NAME" type="text" maxlength="70" class="form-control" placeholder="ชื่อ" required />
                            </div>
                            <div class="col-sm-4">
                                <input name="LAST_NAME" type="text" maxlength="70" class="form-control" placeholder="นามสกุล" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">รหัสผ่าน</label>
                            <div class="col-sm-8">
                                <input name="PASSWORD" id="password" type="password" placeholder="รหัสผ่าน" maxlength="70" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ยืนยันรหัสผ่าน</label>
                            <div class="col-sm-8">
                                <input name="PASSWORD_CONFIRM" id="confirm_password" type="password" placeholder="ยืนยันรหัสผ่าน" maxlength="70" class="form-control" required />
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn-flat">ยืนยัน</button>
                        <button type="reset" name="cancel" class="btn btn-default btn-flat" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal-forget-password" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <form id="forgetPasswordForm" class="form-horizontal" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">ลืมรหัสผ่าน</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ชื่อผู้ใช้งาน</label>
                            <div class="col-sm-8">
                                <input name="USER_EMAIL" type="text" placeholder="user@domain.com" maxlength="70" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn-flat">ยืนยัน</button>
                        <button type="reset" name="cancel" class="btn btn-default btn-flat" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-confirm/jquery.confirm.min.js"></script>
    <script>
        $(function () {
            $('#loginForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Api/Account/Login',
                    data: $('#loginForm').serialize(),
                    type: 'POST',
                    success: function (ret) {
                        window.location.href = "/Account/Index";
                    },
                    statusCode: {
                        400: function (ret) {
                            $.confirm({
                                title: 'ข้อความจากระบบ',
                                text: ret.responseText,
                                confirmButton: 'ปิด.',
                                confirmButtonClass: 'btn-warning btn-flat',
                                cancelButtonClass: 'hidden'
                            })
                        }
                    }
                })
            });
            $('#registerForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Api/Account/Register',
                    data: $('#registerForm').serialize(),
                    type: 'POST',
                    success: function (ret) {
                        if (ret.Result === "OK") {
                            $('#registerForm')[0].reset();
                            $('#registerForm').closest('div.modal').modal('hide');
                            $.confirm({
                                title: 'ข้อความจากระบบ',
                                text: 'ระบบได้ทำการส่ง E-mail ให้คุณแล้วกรุณาตรวจสอบ<br/> เพื่อยืนยันการสมัคร',
                                confirmButton: 'ปิด.',
                                confirmButtonClass: 'btn-success btn-flat',
                                cancelButtonClass: 'hidden'
                            })
                        } else
                            if (ret.Result === "ERROR") {
                                $.confirm({
                                    title: 'ข้อความจากระบบ',
                                    text: ret.Message,
                                    confirmButton: 'ปิด.',
                                    confirmButtonClass: 'btn-warning btn-flat',
                                    cancelButtonClass: 'hidden'
                                });
                            }
                    }
                })
            });
            $('#forgetPasswordForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Api/Account/ForgetPassword',
                    data: $('#forgetPasswordForm').serialize(),
                    type: 'POST',
                    success: function (ret) {
                        if (ret.Result === "OK") {
                            $('#forgetPasswordForm')[0].reset();
                            $('#forgetPasswordForm').closest('div.modal').modal('hide');
                            $.confirm({
                                title: 'ข้อความจากระบบ',
                                text: 'ระบบได้ทำการส่ง E-mail ให้คุณแล้วกรุณาตรวจสอบ',
                                confirmButton: 'ปิด.',
                                confirmButtonClass: 'btn-success btn-flat',
                                cancelButtonClass: 'hidden'
                            })
                        } else
                            if (ret.Result === "ERROR") {
                                $.confirm({
                                    title: 'ข้อความจากระบบ',
                                    text: ret.Message,
                                    confirmButton: 'ปิด.',
                                    confirmButtonClass: 'btn-warning btn-flat',
                                    cancelButtonClass: 'hidden'
                                });
                            }
                    }
                })
            });
        })
            .ajaxStart(function (e, xhr, settings) {
                $("div#loader").show();
            })
            .ajaxComplete(function (e, xhr, settings) {
                $("div#loader").hide();
            })
    </script>
</body>
</html>
