﻿@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login | CITS WEB SALES V2</title>
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
	<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/js-cookie/src/js.cookie.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyApWlS2_RsLZAjZyUb484XaDWKB62GkuqI",
            authDomain: "ci-websalesv2.firebaseapp.com",
            databaseURL: "https://ci-websalesv2.firebaseio.com",
            projectId: "ci-websalesv2",
            storageBucket: "ci-websalesv2.appspot.com",
            messagingSenderId: "704014841257"
        };
        firebase.initializeApp(config);
    </script>
	<script type="text/javascript">
		// FirebaseUI config.
		var uiConfig = {
			callbacks: {
				signInSuccess: function (currentUser, credential, redirectUrl) {
					try {
						var authType = currentUser.providerData[0].providerId;
						var accessToken = credential.accessToken;
						$.ajax({
							url: '/api/account/login',
							contentType: "application/x-www-form-urlencoded; charset=UTF-8",
							dataType: "json",
							type: "POST",
							data: { authType: authType, accessToken: accessToken },
							success: function () {
                                window.location = "/Home";
                                console.log(data);
							},
						});
					} catch (e) {
						return true;
					}
					return false;
				}
			},
			credentialHelper: firebaseui.auth.CredentialHelper.ACCOUNT_CHOOSER_COM,
			// Query parameter name for sign in success url.
			signInSuccessUrl: '/Account/Login',
			signInOptions: [
				// Leave the lines as is for the providers you want to offer your users.
				firebase.auth.GoogleAuthProvider.PROVIDER_ID,
				firebase.auth.FacebookAuthProvider.PROVIDER_ID,
				firebase.auth.EmailAuthProvider.PROVIDER_ID
			],
		};
		var ui = new firebaseui.auth.AuthUI(firebase.auth());
		// The start method will wait until the DOM is loaded.
		ui.start('#firebaseui-auth-container', uiConfig);
	</script>
</head>
<body>
	<!-- The surrounding HTML is left untouched by FirebaseUI.
		 Your app may use that space for branding, controls and other customizations.-->
	<div id="firebaseui-auth-container"></div>
</body>
</html>