﻿@{
    ViewData["Title"] = "Activity";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-info">
                <form class="form-horizontal" id="formMain">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">ค้นหา</label>
                            <div class="col-sm-8">
                                <input name="Search" type="text" class="form-control" maxlength="100" placeholder="รหัส หรือ ชื่อ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Period Code</label>
                            <div class="col-sm-8">
                                <input name="SITE_ID" type="text" class="hide">
                                <input name="COPE_ID" type="text" class="hide">
                                <input name="PERIOD_ID" type="text" class="hide">
                                <input name="PERIOD_CODE" type="text" class="form-control" maxlength="100" placeholder="--- Please Select. ---" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-12">
                            <div class="row text-center" style="margin-bottom:10px;">
                                <button type="submit" class="btn btn-flat btn-info">
                                    <i class="fa fa-search">
                                        ค้นหา
                                    </i>
                                </button>
                                <button type="reset" class="btn btn-flat btn-danger">
                                    <i class="fa fa-refresh">
                                        รีเซ็ต
                                    </i>
                                </button>
                            </div>
                            <div class="row text-right" style="margin-bottom:10px;">
                                <button class="btn btn-flat btn-success" id="btnAdd">
                                    <i class="fa fa-plus"></i>&emsp;เพิ่ม
                                </button>
                            </div>
                            <div class="row">
                                <div class="box no-border">
                                    <div class="box-body no-padding" style="min-height:100px;">
                                        <div id="tableMain" class="table-responsive"></div>
                                    </div>
                                    <div class="overlay" style="display:none;">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
    <!-- /.row (main row) -->
</section><!-- /.content -->

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
    <form class="form-horizontal" id="formAdd">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <div class="pull-right">
                        <button tabindex="-1" type="submit" value="save" class="btn btn-flat btn-sm btn-primary">Save</button>
                        <button tabindex="-1" type="button" value="edit" class="btn btn-flat btn-sm btn-success">Edit</button>
                        <button tabindex="-1" type="reset" value="close" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Budget Period:</label>
                        <div class="col-sm-4">
                            <input name="SITE_ID" type="text" class="hidden" />
                            <input name="CORP_ID" type="text" class="hidden" />
                            <input name="PERIOD_ID" type="text" class="hidden" />
                            <input name="PERIOD_CODE" type="text" class="form-control" required readonly />
                        </div>
                        <label class="col-sm-2 control-label">Activity Code:</label>
                        <div class="col-sm-4">
                            <input name="ACTIVITY_ID" type="text" class="hidden" />
                            <input name="ACTIVITY_CODE" type="text" class="form-control" placeholder="" readonly />
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-2 control-label">Activity Name Thai:</label>
                        <div class="col-sm-4 has-error">
                            <input name="ACTIVITY_NAME_TH" type="text" class="form-control" placeholder="" required>
                        </div>
                        <label class="col-sm-2 control-label">Activity Name Eng.:</label>
                        <div class="col-sm-4">
                            <input name="ACTIVITY_NAME_EN" type="text" class="form-control" placeholder="" required>
                        </div>

                    </div>

                    <div class="form-group ">
                        
                        <label class="col-sm-2 control-label">Section:</label>
                        <div class="col-sm-4">
                            <input name="DEPT_ID" type="text" class="hidden" />
                            <input name="SECT_ID" type="text" class="hidden" />
                            <input name="SECT_CODE" type="text" class="form-control" required readonly>
                        </div>
                        <label class="col-sm-2 control-label">Sub-Project:</label>
                        <div class="col-sm-4">
                            <input name="PROJ_ID" type="text" class="hidden" />
                            <input name="JOB_ID" type="text" class="hidden" />
                            <input name="JOB_CODE" type="text" class="form-control" required readonly>
                        </div>

                    </div>

                   

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-8  ">
                            <input name="DESCRIPTION" type="text" class="form-control" placeholder="" required />
                        </div>
                        <input class="hidden" name="statusGroup">
                        <button tabindex="-1" class="btn btn-flat btn-success btn-sm" type="button"  name="groupAdd">Group</button>
                    </div>
                </div>

                <div class="form-group form-group-sm table-responsive" detailform="DETAIL" 
                     style="width: 900px;margin-right: 0px;margin-right: -2;margin-left: 0;margin-left: 0px;">
                    <table class="table table-striped table-hover" style="vertical-align:text-bottom;">
                        <thead>
                            <tr>
                                <th style="width:3%;">#</th>
                                <th style="width:18%;">Group</th>
                                <th style="width:18%;">Budget Code</th>
                                <th style="width:18%;">Item Code</th>
                                <th style="width:20%;" class="col-md-4">Item Name</th>
                                <th style="width:18%;">Budget Amount</th>
                                <th style="width:3%;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8"></td>
                                <td colspan="1" class="text-left">
                                    <button tabindex="-1" class="btn btn-flat btn-success btn-sm" type="button" name="ADD_ITEM">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-8 control-label">Total Amount:</label>
                    <div class="col-sm-3">
                        <input class="form-control text-right" name="TOTAL_BUDGET_AMT" value="0.00" readonly validator="validator"><i class="form-control-feedback fa"></i>
                    </div>
                </div>

                <div class="modal-footer" style="position:relative;">
                    <button tabindex="-1" type="submit" value="save" class="btn btn-flat btn-sm btn-primary">Save</button>
                    <button tabindex="-1" type="button" value="edit" class="btn btn-flat btn-sm btn-success">Edit</button>
                    <button tabindex="-1" type="reset" value="close" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/template" id="rowTemplate">
        <input class="hidden" name="BUDGET_CHART_ID">
        <input class="hidden" name="ACTIVITY_ITEM_ID">
        <input class="hidden" name="ACTIVITY_GROUP_ID">
        <input class="hidden" name="SEQ">
        <input class="hidden" name="total">
        <td data-seq="SEQ" class="text-center" style="vertical-align:middle;">1</td>
        <td><input class="form-control" name="ACTIVITY_GROUP_CODE" placeholder="Group" value="" required="required" validator="validator"><i class="form-control-feedback fa"></i></td>
        <td><input class="form-control bg-white" name="BUDGET_CHART_CODE" placeholder="Budget Code" required="required" readonly="readonly" validator="validator"><i class="form-control-feedback fa"></i></td>
        <td><input class="form-control" name="ACTIVITY_ITEM_CODE" placeholder="Item Code" value="" readonly validator="validator"><i class="form-control-feedback fa"></i></td>
        <td><input class="form-control" name="ACTIVITY_ITEM_NAME" placeholder="Item Name" value="" required="required" validator="validator"><i class="form-control-feedback fa"></i></td>
        
        <td><input class="form-control text-right" name="BUDGET_AMT" value="0.00" required="required" validator="validator"><i class="form-control-feedback fa"></i></td>
        <td class="text-center" style="vertical-align:middle;">
            <button type="button" class="btn btn-sm btn-flat btn-default" name="REMOVE_RECORD" tabindex="-1">
                <i class="fa fa-remove  text-danger" style="cursor:pointer;"></i>
            </button>
        </td>
</script>

<div class="modal fade" id="modal-select-Group" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">GROUP</h4>
            </div>
            <div class="modal-body">
                <form id="GroupListModalSearch">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="text" class="form-control" name="SEARCH" />
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-search">&nbsp;ค้นหา</i>
                        </button>
                    </div>
                </form>
                <div id="GroupListTableContainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" value="add" class="btn btn-primary btn-flat btn-sm">Add</button>
                <button type="reset" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-Group" tabindex="-1" role="dialog">
    <form class="form-horizontal" role="document" id="formAddGroup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">ADD GROUP</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Group Code:</label>
                        <div class="col-sm-7">
                            <input name="ACTIVITY_ID" type="text" class="hidden" value="" readonly />
                            <input name="SITE_ID" type="text" class="hidden" value="" readonly />
                            <input name="ACTIVITY_GROUP_ID" type="text" class="hidden" value="" readonly />
                            <input name="SEQG" type="text" class="hidden" value="" readonly />
                            <input name="ACTIVITY_GROUP_CODE" type="text" class="form-control" maxlength="2" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Group Name:</label>
                        <div class="col-sm-7">
                            <input name="ACTIVITY_GROUP_NAME" type="text" class="form-control" required />
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" value="add" class="btn btn-success btn-flat btn-sm">Save</button>
                    <button type="reset" class="btn btn-default btn-flat btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts {
    <script src="~/scripts/home/activity.js?v=@Guid.NewGuid()"></script>
}