﻿@{
    ViewData["Title"] = "Sect";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Search</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form class="form-horizontal" id="InvoiceListForm">
                            <section class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Book :</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="BOOK_ID"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Search :</label>
                                    <div class="col-sm-4">
                                        <input name="SEARCH" type="text" class="form-control" maxlength="100" placeholder="INVOCIE NO. CUSTOMER CODE">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary btn-flat">
                                            <i class="fa fa-search">
                                                Search
                                            </i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-flat" name="ADD">
                                            <i class="fa fa-plus">
                                                Add
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                    <div class="row">
                        <section class="col-md-12">
                            <div id="InvoiceListTable">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.row (main row) -->
</section><!-- /.content -->


<div class="modal fade" id="modal-add" tabindex="-1" role="dialog">
    <form class="form-horizontal" id="modal-add-form">
        <div class="modal-dialog modal-lg">

        </div>
    </form>
</div>


<div class="modal fade" id="modal-customs" tabindex="-1" role="dialog">
    <form class="form-horizontal" id="modal-customs-form">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Custom</h4>
                    <div class="pull-right">
                        <button tabindex="-1" type="submit" class="btn btn-flat btn-sm btn-primary">Save</button>
                        <button tabindex="-1" type="reset" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                        <input name="INVOICE_ID" type="text" class="hidden" readonly />
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Customs No.:</label>
                        <div class="col-sm-6">
                            <input name="REFNO_EXPORT" type="text" class="form-control" required />
                        </div>
                        <label class="col-sm-2 control-label">Document Date:</label>
                        <div class="col-sm-2">
                            <input name="DOCDATE" type="text" class="form-control" placeholder="01/01/2016" readonly />
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Customer:</label>
                        <div class="col-sm-6">
                            <input name="CUSTOMER_CODE" type="text" class="form-control" readonly />
                        </div>
                        <label class="col-sm-2 control-label">Export Date:</label>
                        <div class="col-sm-2">
                            <input name="EXPORT_DATE" type="text" class="form-control datepicker" placeholder="01/01/2016" style="background:#fff;" required readonly />
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Currency:</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="CURRENCY_CODE" disabled>
                                <option value="USD">USD</option>
                                <option value="THB">THB</option>
                            </select>
                        </div>
                        <label class="col-sm-2 col-sm-offset-4 control-label">Status 0409</label>
                        <div class="col-sm-2">
                            <input name="DOC_0409_DATE" type="text" class="form-control datepicker" placeholder="01/01/2016" style="background:#fff;" required readonly />
                        </div>
                    </div>
                    <div class="form-group form-group-sm table-responsive" detailform="DETAIL">
                        <table class="table table-striped" style="vertical-align:text-bottom;">
                            <thead>
                                <tr>
                                    <th style="width:3%;">#</th>
                                    <th style="width:12%;">Item Code</th>
                                    <th style="width:18%;" class="col-md-4">Item Name</th>
                                    <th style="width:12%;">Lot No.</th>
                                    <th style="width:8%;">QTY</th>
                                    <th style="width:11%;">FOB AMT</th>
                                    <th style="width:11%;">CIF AMT</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 col-sm-offset-7 control-label">Total FOB:</label>
                        <div class="col-sm-3">
                            <input tabindex="-1" name="AMTKE_FOB" type="text" class="form-control text-right currency" readonly />
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 col-sm-offset-7 control-label">Total CIF:</label>
                        <div class="col-sm-3">
                            <input tabindex="-1" name="AMTKE_CIF" type="text" class="form-control text-right currency" readonly />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button tabindex="-1" type="submit" class="btn btn-flat btn-sm btn-primary">Save</button>
                    <button tabindex="-1" type="reset" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="modal-sum-item" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select Packing Item</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <section class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input name="SEARCH" type="text" class="form-control" maxlength="100" placeholder="ค้นหา">
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" id="SEARCH" class="btn btn-info">
                                        <i class="fa fa-search">
                                            ค้นหา
                                        </i>
                                    </button>
                                    <button type="reset" class="btn btn-danger">
                                        <i class="fa fa-refresh">
                                            รีเซ็ต
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="row">
                    <section class="col-md-12">
                        <input id="ROW_SUM_ID" type="text" class="hidden" />
                        <div id="PackingItemListContainer">
                        </div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="ADD_ITEM" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="rowTemplate">
    <input class="hidden" name="INVOICE_ITEM_ID">
    <input class="hidden" name="UM_NAME_SALES">
    <input class="hidden" name="UMQTY_SALES">
    <input class="hidden" name="ITEM_ID">
    <input class="hidden" name="SEQ">
    <td data-seq="SEQ" class="text-center" style="vertical-align:middle;"></td>
    <td><input class="form-control bg-white" name="ITEM_CODE" placeholder="Item Code" required="required" readonly="readonly"></td>
    <td><input class="form-control bg-white" name="ITEM_NAME" placeholder="Item Name" required="required" readonly="readonly"></td>
    <td><input class="form-control" name="LOT" placeholder="Lot No." value="" required="required"></td>
    <td>
        <input class="form-control text-right" name="QTY" value="0" min="1" required="required">
        <div class="text-right"><small name="UM_NAME_SALES"></small></div>
    </td>
    <td><input class="form-control text-right" name="PRICEKE" value="0.00" required="required"></td>
    <td><input class="form-control text-right" name="DISCAMTKE" value="0.00" required="required"></td>
    <td><input class="form-control text-right bg-white" name="TOTALKE" value="0.00" required="required" readonly="readonly"></td>
    <td class="text-center" style="vertical-align:middle;">
        <button type="button" class="btn btn-sm btn-flat btn-default" name="REMOVE_RECORD" tabindex="-1">
            <i class="fa fa-remove  text-danger" style="cursor:pointer;"></i>
        </button>
    </td>
</script>


<script type="text/template" id="rowCustomsTemplate">
    <input class="hidden" name="INVOICE_ITEM_ID">
    <input class="hidden" name="ITEM_ID">
    <input class="hidden" name="SEQ">
    <td data-seq="SEQ" class="text-center" style="vertical-align:middle;"></td>
    <td><input class="form-control bg-white" name="ITEM_CODE" placeholder="Item Code" readonly="readonly"></td>
    <td><input class="form-control bg-white" name="ITEM_NAME" placeholder="Item Name" readonly="readonly"></td>
    <td><input class="form-control" name="LOT" placeholder="Lot No." value="" readonly></td>
    <td><input class="form-control text-right" name="QTY" value="0" readonly> </td>
    <td><input class="form-control text-right" name="ITEM_AMTKE_FOB" value="0.00" required="required"></td>
    <td><input class="form-control text-right" name="ITEM_AMTKE_CIF" value="0.00" required="required"></td>
</script>



@section scripts {
    <script src="~/scripts/home/activity_item.js"></script>
}