﻿@{
    ViewData["Title"] = "Budget Chart";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-info">
                <form class="form-horizontal" id="formMain">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">ค้นหา</label>
                            <div class="col-sm-8">
                                <input name="Search" type="text" class="form-control" maxlength="100" placeholder="รหัส หรือ ชื่อ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Corp</label>
                            <div class="col-sm-8">
                                <input name="SITE_ID" type="text" class="hide">
                                <input name="CORP_ID" type="text" class="hide">
                                <input name="CORP_CODE" type="text" class="form-control" maxlength="100" placeholder="--- Please Select. ---" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-12">
                            <div class="row text-center" style="margin-bottom:10px;">
                                <button type="submit" class="btn btn-flat btn-info">
                                    <i class="fa fa-search">
                                        ค้นหา
                                    </i>
                                </button>
                                <button type="reset" class="btn btn-flat btn-danger">
                                    <i class="fa fa-refresh">
                                        รีเซ็ต
                                    </i>
                                </button>
                            </div>
                            <div class="row text-right" style="margin-bottom:10px;">
                                <button class="btn btn-flat btn-success" id="btnAdd">
                                    <i class="fa fa-plus"></i>&emsp;เพิ่ม
                                </button>
                            </div>
                            <div class="row">
                                <div class="box no-border">
                                    <div class="box-body no-padding" style="min-height:100px;">
                                        <div id="tableMain" class="table-responsive"></div>
                                    </div>
                                    <div class="overlay" style="display:none;">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
    <!-- /.row (main row) -->
</section><!-- /.content -->

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
    <form class="form-horizontal" id="formAdd">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <div class="pull-right">
                        <button tabindex="-1" type="submit" value="save" class="btn btn-flat btn-sm btn-primary">Save</button>
                        <button tabindex="-1" type="button" value="edit" class="btn btn-flat btn-sm btn-success">Edit</button>
                        <button tabindex="-1" type="reset" value="close" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="modal-body">
                   <div class="form-group">
                        <label class="col-sm-3 control-label">Corp:</label>
                        <div class="col-sm-9">
                            <input name="SITE_ID" type="text" class="hidden" />
                            <input name="CORP_ID" type="text" class="hidden" />
                            <input name="CORP_CODE" type="text" class="form-control" required readonly />
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Budget  Chart Code:</label>
                        <div class="col-sm-9">
                            <input name="BUDGET_CHART_ID" type="text" class="hidden" />
                            <input name="BUDGET_CHART_CODE" type="text" class="form-control" placeholder="" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Budget Chart Name Thai:</label>
                        <div class="col-sm-9">
                            <input name="BUDGET_CHART_NAME_TH" type="text" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Budget Chart Name Eng:</label>
                        <div class="col-sm-9">
                            <input name="BUDGET_CHART_NAME_EN" type="text" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="position:relative;">
                    <button tabindex="-1" type="submit" value="save" class="btn btn-flat btn-sm btn-primary">Save</button>
                    <button tabindex="-1" type="button" value="edit" class="btn btn-flat btn-sm btn-success">Edit</button>
                    <button tabindex="-1" type="reset" value="close" class="btn btn-flat btn-sm btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="overlay" style="display:none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/scripts/home/budget_chart.js?v=@Guid.NewGuid()"></script>
}