﻿@{
    ViewData["Title"] = "Index";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul class="timeline" id="mainTimeline">
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-red">
                                10 Feb. 2014
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <!-- timeline icon -->
                            <i class="fa fa-envelope bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                <h3 class="timeline-header"><a href="#">{CreateBy}</a> {Header}</h3>
                                <div class="timeline-body">
                                    {Message}
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-block">View</a>
                                </div>
                            </div>
                        </li>
                        <li id="endTimeline">
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                        <!-- END timeline item -->
                    </ul>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </section>

    </div>
    <!-- /.row (main row) -->
</section><!-- /.content -->

<script type="text/html" id="templateTimeline">
        <!-- timeline icon -->
        <i class="fa {Icon} {Priority}"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header"><a href="#" data-bind="CreateBy">{CreateBy}</a> <span data-bind="Header">{Header}</span></h3>
            <div class="timeline-body" data-bind="Message">
                {Message}
            </div>
            <div class="timeline-footer">
                <button class="btn btn-primary btn-block" type="button">View</button>
            </div>
        </div>
</script>

<script type="text/html" id="templateTimelineLabel" class="time-label">
    <span class="bg-red">
        10 Feb. 2014
    </span>
</script>
@section scripts {
    <script src="~/scripts/home/index.js?v=@Guid.NewGuid()"></script>
}